{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carousel2" data-bs-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.furniturebank.org/wp-content/uploads/20180918-_DSC2209.jpg" class="d-block w-100" alt="image" width=300px height=300px>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>ArboAndSens</h5>
                        <p>Une entreprise Française, 100% locale et éco-responsable.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://engineering.berkeley.edu/wp-content/uploads/2020/04/sweohp02-scaled.jpg" class="d-block w-100" alt="image" width=300px height=300px>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>ArboAndSens</h5>
                        <p>Une équipe en or.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel2" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
        <div>
            <p class="font-weight-bold">Présentation entreprise</p>
            <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
            <button type="button" class="btn btn-link">Envie d'en savoir plus ?</button>
        </div>
        <div>
            <br>
            <p class="font-weight-bold">Présentation équipe</p>
            <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
            <button type="button" class="btn btn-link" >Venez nous découvrir !</button>
        </div>
    </div>
{% endblock %}