{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="d-flex flex-column ">
            <div class="titleBox text-center m-5">
                <h1 class="title">Bienvenue sur Arbo & Sens</h1>
            </div>
            <div class="secondBox d-flex flex-row align-items-center justify-content-around firstBox mt-5">
                <div class="w-50 textBox">
                    <p class=" font-monospace text-end p-5">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, quos, ratione. Alias cum debitis dicta doloribus ducimus error harum hic illo, iusto magnam pariatur praesentium quaerat quas quo repudiandae sapiente!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus adipisci amet aut delectus, eaque eos esse est facilis fuga iure minus obcaecati odit placeat, quam quas quo sed sint!
                    </p>
                </div>
                <div class="w-50 imgBox">
                    <img src="https://cdn.pixabay.com/photo/2017/09/09/18/25/living-room-2732939_1280.jpg" class="rounded img-fluid" alt="salon">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 m_border">
            </div>
            <div class="col-sm-6"></div>
        </div>
        <div class="d-flex flex-wrap">
            <div class="w-50 m-auto">
                <h3 class="text-center">Présentation</h3>
                <p class=" text-end p-2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet enim eos facere illum rem ullam, ut! Commodi dicta facilis molestias neque non ut voluptates. Eaque eos facere molestiae perspiciatis?
                </p>
                <a class="text-center" href="#">Voir Plus..</a>
            </div>
            <div class="w-50">
                <img src="https://cdn.pixabay.com/photo/2017/09/09/18/25/living-room-2732939_1280.jpg" class="rounded img-fluid" alt="salon">
            </div>
            <div class="w-50">
                <img src="https://cdn.pixabay.com/photo/2017/09/09/18/25/living-room-2732939_1280.jpg" class="rounded img-fluid" alt="salon">
            </div>
            <div class="w-50 m-auto">
                <h3 class="text-center">Notre équipe</h3>
                <p class="text-end p-2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet enim eos facere illum rem ullam, ut! Commodi dicta facilis molestias neque non ut voluptates. Eaque eos facere molestiae perspiciatis?
                </p>
                <a  href="#">Voir Plus..</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 m_border">
            </div>
            <div class="col-sm-6"></div>
        </div>
        <div class="littleProd">
            <div class="d-flex overflow-auto">
                {% for product in products %}
                    <div class="col-md-4 m-5 w-25">
                        <div class="card">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text text-truncate">{{ product.description }}</p>
                                <p class="card-text text-end">{{ product.price }} </p>
                                <div class="d-flex flex-row-reverse bd-highlight">
                                    <div class="p-2 bd-highlight">
                                        <a href="/product/{{product.id}}" class="btn btn-outline-primary mx-auto">Voir le produit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 m_border">
            </div>
            <div class="col-sm-6"></div>
        </div>
        <div class="bigProduct d-flex align-items-center justify-content-center">
            <div class="text">
                <h3>Les meubles sur mesures bientot sur notre site !</h3>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
{% endblock %}