{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mt-5 mb-5">
                    <div class="card">
                        <img src="https://cdn.pixabay.com/photo/2017/08/02/01/01/living-room-2569325_1280.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text text-truncate">{{ product.description }}</p>
                            <p class="card-text text-end">{{ product.price }} €</p>
                            <div class="d-flex flex-row-reverse bd-highlight">
                                <div class="p-2 bd-highlight">
                                    <a href="/product/{{product.id}}" class="btn btn-outline-primary mx-auto">Voir le produit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="footer">

    </div>
{% endblock %}