{% extends 'base.html.twig' %}

{% block body %}
    {% set id = app.request.get('id') %}
    {% set titleType = app.request.get('titleType') %}
    <div class="container" style="justify-content: center">
        <div>
            <p>Nom : {{ app.user.lastName }}</p>
            <p>Prénom : {{ app.user.firstName }}</p>
            <p>E-mail : {{ app.user.email }}</p>
        </div>
        <div class="h-50 overflow-scroll">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for order in app.user.orderHistories %}
                <tr>
                    <td>{{ order.title }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="footer fixed-bottom">

    </div>
{% endblock %}