{% extends 'base.html.twig' %}

{% block content %}
    <h2 class="">Notre équipe</h2>

    <hr class="featurette-divider" >

    <div class="row">
        <div class="col-md-7 order-md-2">
            <h3 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h3>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="https://cdn.pixabay.com/photo/2017/09/09/18/25/living-room-2732939_1280.jpg" class="rbd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="salon" width="500" height="500">
        </div>
    </div>
{% endblock %}
